repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.88.0
  hooks:
    - id: terraform_fmt
    - id: terraform_validate
      args:
        - --hook-config=--retry-once-with-cleanup=true
        - --tf-init-args=-upgrade
    - id: terraform_docs
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-merge-conflict
    - id: end-of-file-fixer
- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 37.213.0
  hooks:
    - id: renovate-config-validator
